### Exercise 1: Replicate Figure 4

In [59]:
library(ggplot2)
library(openair)
library(tidyr)
library(lfe)
library(stargazer)

In [ ]:
df1 <- rio::import("data/pub_pvt_scatters.dta")

df2 <- rio::import("data/univ_names.xlsx")

In [ ]:
head(df1, 5)

In [ ]:
head(df2, 5)

In [ ]:
df_merge <- merge(df1, df2, by = c("unitid"))       # Applying merge() function
head(df_merge, 5)

In [ ]:
df_merge$cpi_all <- mean(df_merge$cpi,na.rm=T)

head(df_merge, 5)

In [ ]:
df_merge$real_approp <- df_merge$nominal_approp/df_merge$cpi_all

head(df_merge, 5)

In [ ]:
df_merge$Private_Categorical <- as.factor(ifelse(df_merge$Private >0, 'Private', 'Public'))

head(df_merge, 5)

In [ ]:
df_merge <- df_merge[order(df_merge$unitid, df_merge$year),]

head(df_merge, 5)

In [ ]:
df_merge$log_real_approp <- log(df_merge$real_approp)

df_merge$log_enroll_fresh_non_res_alien_deg <- log(df_merge$ENROLL_FRESH_NON_RES_ALIEN_DEG)

In [ ]:
data.frame. <- subset(df_merge, year == 2012, select=c(unitid, year, name, log_real_approp, log_enroll_fresh_non_res_alien_deg, Private_Categorical))
newdata2 <- subset(df_merge, year == 2005, select=c(unitid, year, name, log_real_approp, log_enroll_fresh_non_res_alien_deg, Private_Categorical))

In [ ]:
data.frame.$diff_log_real_approp <- data.frame.$log_real_approp - newdata2$log_real_approp
data.frame.$diff_log_enroll_fresh_non_res_alien_deg <- data.frame.$log_enroll_fresh_non_res_alien_deg - newdata2$log_enroll_fresh_non_res_alien_deg

data.frame. <- subset(data.frame., select=c(unitid, year, name, diff_log_real_approp, diff_log_enroll_fresh_non_res_alien_deg, Private_Categorical))

In [ ]:
head(data.frame.,5)

In [ ]:
ggplot(data.frame., aes(x=diff_log_real_approp, y=diff_log_enroll_fresh_non_res_alien_deg, shape=Private_Categorical, color=Private_Categorical)) +
  geom_point() + geom_smooth(method=lm)

### Exercise 2: Replicate Table 2

In [17]:
df3 <- rio::import("data/univ_data.dta")

head(df3,5)

  unitid hepi_index total03_revenue unrestricted_revenue instruction01
1 100654 56.40691   67350729        48640486             15659694
2 100654 58.16759         NA              NA             16597394
3 100654 60.22171         NA              NA             15093458
4 100654 61.65634         NA              NA             13098304
5 100654 64.19955         NA              NA             14948569
  instruction02 research01 instsupp01 eandg01  AAU ... tuition_fee_instate
1 13161901       8815611   12120165   59746060 NA  ... 2312
2 14033527       9497682   13087880   65267080 NA  ... 2420
3 13130137      10223604   14730140   67996184 NA  ... 2332
4 11250628       8177795   11130602   66427888 NA  ... 2332
5       NA       7823920   11388795   69049056 NA  ... 2800
  tuition_fee_oos l_disposible_grevenue share_approp l_out_of_state_tuition
1 4152            15.84119              0.03812668   8.259459
2 4352            15.87159              0.03730490   8.259459
3 4664            15.93107              0.03754789   8.357963
4 4264            15.97041              0.03622695   8.556414
5 5200            16.04659              0.03869729   8.699514
  l_in_state_tuition out_of_state_tuition in_state_tuition
1 7.566311           3864                 1932
2 7.566311           3864                 1932
3 7.754481           4264                 2332
4 7.937375           5200                 2800
5 8.070906           6000                 3200
  l_tuition_fee_instate l_tuition_fee_oos
1 7.745868              8.331346
2 7.791523              8.378390
3 7.754481              8.447629
4 7.754481              8.357963
5 7.937375              8.556414

In [19]:
df3$tot_state_app <- df3$nominal_approp - df3$state_ap*100000
df3$l_tot_state_app <- log(df3$nominal_approp)

In [20]:
df4 <- df3 %>% drop_na(l_ENROLL_FRESH_NON_RES_ALIEN_DEG,l_AMERICAN_OOS,l_IN_STATE_FRESHMEN)

head(df4,5)

  unitid hepi_index total03_revenue unrestricted_revenue instruction01
1 100654 56.40691   67350729        48640486             15659694
2 100654 58.16759         NA              NA             16597394
3 100654 72.87251         NA              NA             20976050
4 100654 75.54613         NA              NA             21317976
5 100654 82.52364         NA              NA             25467610
  instruction02 research01 instsupp01 eandg01   AAU ... l_disposible_grevenue
1 13161901       8815611   12120165    59746060 NA  ... 15.84119
2 14033527       9497682   13087880    65267080 NA  ... 15.87159
3 17228140      10679847   15705559    90514032 NA  ... 16.19086
4 17280432      10664248   17568800    93791560 NA  ... 16.22568
5 19924012      15256037   19360488   106958256 NA  ... 16.44110
  share_approp l_out_of_state_tuition l_in_state_tuition out_of_state_tuition
1 0.03812668   8.259459               7.566311           3864
2 0.03730490   8.259459               7.566311           3864
3 0.03945206   8.961879               8.268732           7800
4 0.03965382   9.026418               8.393895           8320
5 0.03948618   9.057189               8.364042           8580
  in_state_tuition l_tuition_fee_instate l_tuition_fee_oos tot_state_app
1 1932             7.745868              8.331346          653447974
2 1932             7.791523              8.378390          684358410
3 3900             8.117312              8.729720          818813236
4 4420             8.199739              8.818778          821633903
5 4290             8.202482              8.820256          973892225
  l_tot_state_app
1 20.33665
2 20.38201
3 20.56362
4 20.56727
5 20.73710

In [21]:
dim(df4)

[1] 5414   94

In [22]:
est <- felm(l_ENROLL_FRESH_NON_RES_ALIEN_DEG ~ l_state_ap + l_population, data = subset(df4, Research == 1), weights = NULL)

est2 <- felm(l_ENROLL_FRESH_NON_RES_ALIEN_DEG ~ l_state_ap + l_population, data = subset(df4, AAU == 1), weights = NULL)

est3 <- felm(l_ENROLL_FRESH_NON_RES_ALIEN_DEG ~ l_state_ap + l_population, data = subset(df4, nonResearch == 1), weights = NULL)

Call:
   felm(formula = l_ENROLL_FRESH_NON_RES_ALIEN_DEG ~ l_state_ap +      l_population, data = subset(df4, Research == 1), weights = NULL)

Residuals:
    Min      1Q  Median      3Q     Max
-3.2644 -0.5511 -0.0265  0.5322  3.0816

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept)  -2.65576    0.25476 -10.424   <2e-16 ***
l_state_ap    0.61934    0.02831  21.876   <2e-16 ***
l_population  0.17105    0.02021   8.462   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.8672 on 2118 degrees of freedom
  (65 observations deleted due to missingness)
Multiple R-squared(full model): 0.2617   Adjusted R-squared: 0.261
Multiple R-squared(proj model): 0.2617   Adjusted R-squared: 0.261
F-statistic(full model):375.3 on 2 and 2118 DF, p-value: < 2.2e-16
F-statistic(proj model): 375.3 on 2 and 2118 DF, p-value: < 2.2e-16

In [42]:
est_iv_1 <- ivreg(l_ENROLL_FRESH_NON_RES_ALIEN_DEG ~ l_population + l_state_ap | l_population + l_tot_state_app, data = subset(df4, nonResearch == 1), weights = NULL)

ERROR: Error in ivreg(l_ENROLL_FRESH_NON_RES_ALIEN_DEG ~ l_population + l_state_ap | : could not find function "ivreg"

In [29]:
est5 <- felm(l_state_ap ~ l_tot_state_app, data = subset(df4, Research == 1), weights = NULL)

est6 <- felm(l_state_ap ~ l_tot_state_app, data = subset(df4, AAU == 1), weights = NULL)

est7 <- felm(l_state_ap ~ l_tot_state_app, data = subset(df4, nonResearch == 1), weights = NULL)
summary(est7)

Call:
   felm(formula = l_state_ap ~ l_tot_state_app, data = subset(df4,      nonResearch == 1), weights = NULL)

Residuals:
     Min       1Q   Median       3Q      Max
-2.00940 -0.38782 -0.00498  0.38343  1.70483

Coefficients:
                Estimate Std. Error t value Pr(>|t|)
(Intercept)     -1.35253    0.22144  -6.108 1.13e-09 ***
l_tot_state_app  0.34646    0.01048  33.074  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.547 on 3163 degrees of freedom
  (63 observations deleted due to missingness)
Multiple R-squared(full model): 0.257   Adjusted R-squared: 0.2567
Multiple R-squared(proj model): 0.257   Adjusted R-squared: 0.2567
F-statistic(full model): 1094 on 1 and 3163 DF, p-value: < 2.2e-16
F-statistic(proj model):  1094 on 1 and 3163 DF, p-value: < 2.2e-16

In [67]:
stargazer(est, est2, est3, est5, est6, est7, type="text", title="Results", align=TRUE, out="models.htm")

Results
==============================================================================================================================
                                                               Dependent variable:
                    ----------------------------------------------------------------------------------------------------------
                              l_ENROLL_FRESH_NON_RES_ALIEN_DEG                                l_state_ap
                           (1)              (2)               (3)               (4)               (5)               (6)
------------------------------------------------------------------------------------------------------------------------------
l_state_ap              0.619***          0.224***         0.592***
                         (0.028)          (0.079)           (0.032)

l_population            0.171***           -0.079          0.100***
                         (0.020)          (0.052)           (0.024)

l_tot_state_app                                                              0.346***          0.346***          0.346***
                                                                              (0.010)           (0.010)           (0.010)

Constant                -2.656***         3.864***         -2.090***         -1.353***         -1.353***         -1.353***
                         (0.255)          (0.687)           (0.257)           (0.221)           (0.221)           (0.221)

------------------------------------------------------------------------------------------------------------------------------
Observations              2,121             547              3,162             3,165             3,165             3,165
R2                        0.262            0.015             0.144             0.257             0.257             0.257
Adjusted R2               0.261            0.011             0.143             0.257             0.257             0.257
Residual Std. Error 0.867 (df = 2118) 0.906 (df = 544) 1.028 (df = 3159) 0.547 (df = 3163) 0.547 (df = 3163) 0.547 (df = 3163)
==============================================================================================================================
Note:                                                                                              *p<0.1; **p<0.05; ***p<0.01

In [65]:
stargazer(est, est2, est3, est5, est6, est7, type="html", dep.var.labels=c("Miles/(US) gallon","Fast car (=1)"), covariate.labels=c("Gross horsepower","Rear axle ratio","Four foward gears", "Five forward gears","Type of transmission (manual=1)"), out="models.htm")

<table style="text-align:center"><tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td colspan="6"><em>Dependent variable:</em></td></tr>
<tr><td></td><td colspan="6" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td colspan="3">Miles/(US) gallon</td><td colspan="3">Fast car (=1)</td></tr>
<tr><td style="text-align:left"></td><td>(1)</td><td>(2)</td><td>(3)</td><td>(4)</td><td>(5)</td><td>(6)</td></tr>
<tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Gross horsepower</td><td>0.619<sup>***</sup></td><td>0.224<sup>***</sup></td><td>0.592<sup>***</sup></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td>(0.028)</td><td>(0.079)</td><td>(0.032)</td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Rear axle ratio</td><td>0.171<sup>***</sup></td><td>-0.079</td><td>0.100<sup>***</sup></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td>(0.020)</td><td>(0.052)</td><td>(0.024)</td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Four foward gears</td><td></td><td></td><td></td><td>0.346<sup>***</sup></td><td>0.346<sup>***</sup></td><td>0.346<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td>(0.010)</td><td>(0.010)</td><td>(0.010)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Five forward gears</td><td>-2.656<sup>***</sup></td><td>3.864<sup>***</sup></td><td>-2.090<sup>***</sup></td><td>-1.353<sup>***</sup></td><td>-1.353<sup>***</sup></td><td>-1.353<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.255)</td><td>(0.687)</td><td>(0.257)</td><td>(0.221)</td><td>(0.221)</td><td>(0.221)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>2,121</td><td>547</td><td>3,162</td><td>3,165</td><td>3,165</td><td>3,165</td></tr>
<tr><td style="text-align:left">R<sup>2</sup></td><td>0.262</td><td>0.015</td><td>0.144</td><td>0.257</td><td>0.257</td><td>0.257</td></tr>
<tr><td style="text-align:left">Adjusted R<sup>2</sup></td><td>0.261</td><td>0.011</td><td>0.143</td><td>0.257</td><td>0.257</td><td>0.257</td></tr>
<tr><td style="text-align:left">Residual Std. Error</td><td>0.867 (df = 2118)</td><td>0.906 (df = 544)</td><td>1.028 (df = 3159)</td><td>0.547 (df = 3163)</td><td>0.547 (df = 3163)</td><td>0.547 (df = 3163)</td></tr>
<tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td colspan="6" style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>